.file-area {
  width: 100%;
  position: relative;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    width: 100%;
    padding: 30px;
    background: $body-bg;
    border: 2px dashed #0087F7;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }

  &:hover .file-dummy {
    background: rgba(255,255,255,0.1);
  }

  input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type=file]:valid + .file-dummy {
    border-color: darken($brand-success, 10%);
    background-color: $brand-success;
    color: white;

    .success {
      display: inline;
    }
    .default {
      display: none;
    }
  }
}
