//
// Helpers
// --------------------------------------------------

// A series of helper classes to use arbitrarily. Only use a helper class if an
// element/component doesn’t already have a class to which you could apply this
// styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
// that ruleset as opposed to adding the `.float-left` class to the markup.
//
// A lot of these classes carry `!important` as you will always want them to win
// out over other selectors.


// Functions
// -------------------------

// Returns a formatted image path
@function image-path($fileName) {
	@return url( $imagePath + '/' + $fileName );
}


// Display
// -------------------------

.display-inline       { display: inline !important; }
.display-block        { display: block !important; }
.display-inline-block { display: inline-block !important; }
.display-none         { display: none; }

.position-relative { position: relative; }

// Hide elements before or after navbar collapse
@media (max-width: $grid-float-breakpoint-max) {
  .hidden-before-gfb {
    display: none !important;
  }
}
@media (min-width: $grid-float-breakpoint) {
  .hidden-after-gfb {
    display: none !important;
  }
}

// Gutters
// -------------------------

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}


// Force full width
// -------------------------

.full-width {
  width: 100%;
}
.full-width-xs {
  @media (max-width: $screen-xs-max) {
    width: 100% !important;
  }
}
.full-width-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 100% !important;
  }
}
.full-width-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 100% !important;
  }
}
.full-width-lg {
  @media (min-width: $screen-lg-min) {
    width: 100% !important;
  }
}
.full-width-gfb-max {
  @media (max-width: $grid-float-breakpoint-max) {
    width: 100% !important;
  }
}
.full-width-gfb-min {
  @media (min-width: $grid-float-breakpoint) {
    width: 100% !important;
  }
}


// Vertical Align Content
// -------------------------

// .va-wrapper is optional, but be sure to set a height for .va in pixels
.va-wrapper {
  display: table;
}
.va {
  display: table-cell;
  float: none;
  vertical-align: middle;
}


// Text
// -------------------------

.text-sans-serif { font-family: $font-family-sans-serif !important; }
.text-serif      { font-family: $font-family-serif !important; }

