.upload-site {
    .submit-js {
        display: inline-block;
    }
    .cancel-js {
        display: none;
    }
    .confirm-js {
        display: none;
    }
    .submit-container.confirm {
        .submit-js {
            display: none;
        }
        .cancel-js {
            display: inline-block;
        }
        .confirm-js {
            display: inline-block;
        }
    }
}
